
<div class="bg2">

  <div class="bg"> 
    <div class="flex row produto" *ngFor="let produto of produtos">
      <img [src]="produto.urlImagem">
  
       <div class="espaco"></div> 

      <div class="grow flex column descricao-produto">
      
        <div>
        
          <h1>
            {{ produto.titulo }}
          </h1>

         <p>
            {{ produto.descricaoCurta }}
         </p>
     
        </div>
    
  
        <div class="grow"></div>
  
        <div class="flex row">
          <h3>
            {{ produto.valor }}
          </h3>
          <div class="grow"></div>

           <button mat-raised-button color="warn"> Descrição completa </button> 
        </div>
  
      </div>
  
  
    </div>
  
  </div>
</div>